.container-fluid
  %ul.nav.nav-tabs.detail
    %li{:class => "context_info"}
      - if local_assigns[:show_context_label]
        = "Mailing Id: #{show_context_label}"
    %li{:class => is_active?("detail")}
      = link_to "Detail", { controller: 'mailings', action: 'detail' }
    %li{:class => is_active?("interval")}
      = link_to "Interval", { controller: 'mailings', action: 'interval' }
    %li{:class => is_active?("email_domains")}
      = link_to "Domains", { controller: 'mailings', action: 'email_domains' }
    %li{:class => is_active?("user_sources")}
      = link_to "Source", { controller: 'mailings', action: 'user_sources' }
    %li{:class => "#{is_active?("links")} last"}
      = link_to "Links", { controller: 'mailings', action: 'links' }

:javascript
  var mailingId = "#{params[:mailing_id]}";
