- if @filter_params[:mailing_ids].present?
  %h4{:style => "padding-left:15px;"}
    Mailing(s)
    / mailing id
    Ids:
    = @filter_params[:mailing_ids]
    %span{:style => 'color: #517d94;'}
      |
    = @filter_params[:duration]
    after send

%div.panel.panel-default
  %div.panel-heading
    = form_tag("/emails/comparison", :method => :post, :class => "navbar-form", :id => "tableFilter") do
      %div#mailingidFilter.form-group
        = label_tag(:mailing_ids, "Mailing Id(s)", :class => "")
        = search_field_tag(:mailing_ids, "#{@filter_params[:mailing_ids]}", { :placeholder => "Enter Mailing ID(s)"})
      %div#dateFilterStart.form-group
        = label_tag(:duration, "Duration", :class => "")
        = select_tag(:duration, options_for_select(@durations, @filter_params[:duration]), class: "duration")
      %div#tagFilter.form-group
        = submit_tag("Search", class: "btn btn-primary")
      %div.clearfix

  %table.table
    %thead
      %tr
        %th.center
          ID
        %th
          Sent
        %th
          Opens
        %th
          Clicks
        %th
          Actions
        %th
          Unsubs
        %th
          Complaints
        %th
          Bounces
        %th
          Revenue
    %tbody
      - if @cumulative_rows.any?
        - mailing_ids = @filter_params[:mailing_ids].split(/[, ]/).reject(&:blank?)
        - sums = {}
        - @cumulative_rows.each_with_index do |r, index|
          - zebra = (index % 2 == 0 ? ' odd' : ' even')

          %tr{ :title => "Mailing Id #{r['mailing_id']}",
               :class => "#{zebra}",
               :data => { :mailing_id => r['mailing_id'] } }

            %td
              = link_to "#{r['mailing_id']}", "/email/#{r['mailing_id']}/detail"
              = link_to("https://#{current_client.ak_domain}/mailings/reports/#{r['mailing_id']}", :target => '_blank') do
                %span.glyphicon.glyphicon-link{:title => "View mailing on Actionkit"}
            %td
              = number_with_delimiter(r["sent"], :delimiter => ',')
            %td
              = number_with_delimiter(r["opens"], :delimiter => ',')
              = "(#{pct(r["opens"], r["sent"])})"
            %td
              = number_with_delimiter(r["clicks"], :delimiter => ',')
              = "(#{pct(r["clicks"], r["sent"])})"
            %td
              = number_with_delimiter(r["actions"], :delimiter => ',')
              = "(#{pct(r["actions"], r["sent"])})"
            %td
              = number_with_delimiter(r["unsubs"], :delimiter => ',')
              = "(#{pct(r["unsubs"], r["sent"])})"
            %td
              = number_with_delimiter(r["unsub_complaints"], :delimiter => ',')
              = "(#{pct(r["unsub_complaints"], r["sent"])})"
            %td
              = number_with_delimiter(r["unsub_bounces"], :delimiter => ',')
              = "(#{pct(r["unsub_bounces"], r["sent"])})"
            %td
              = number_to_currency(r["revenue"])

        - if @cumulative_rows.size > 1
          - rcnt = @cumulative_rows.size.to_f
          - sums = {}
          - @cumulative_rows.first.keys.each{|k| sums[k] = 0}
          - @cumulative_rows.each do |r|
            - r.keys.each{|k| sums[k] += r[k].to_i}

          %tr{:style => "background: #F39C12;"}
            %td
              Average
            %td
              = number_with_delimiter(sums["sent"].to_f / rcnt, :delimiter => ',')
            %td
              = number_with_delimiter(sums["opens"].to_f / rcnt, :delimiter => ',')
              = "(#{pct(sums["opens"].to_f / sums["sent"].to_f, rcnt)})"
            %td
              = number_with_delimiter(sums["clicks"].to_f / rcnt, :delimiter => ',')
              = "(#{pct(sums["clicks"].to_f / sums["sent"].to_f, rcnt)})"
            %td
              = number_with_delimiter(sums["actions"].to_f / rcnt, :delimiter => ',')
              = "(#{pct(sums["actions"].to_f / sums["sent"].to_f, rcnt)})"
            %td
              = number_with_delimiter(sums["unsubs"].to_f / rcnt, :delimiter => ',')
              = "(#{pct(sums["unsubs"].to_f / sums["sent"].to_f, rcnt)})"
            %td
              = number_with_delimiter(sums["unsub_complaints"].to_f / rcnt, :delimiter => ',')
              = "(#{pct(sums["unsub_complaints"].to_f / sums["sent"].to_f, rcnt)})"
            %td
              = number_with_delimiter(sums["unsub_bounces"].to_f / rcnt, :delimiter => ',')
              = "(#{pct(sums["unsub_bounces"].to_f / sums["sent"].to_f, rcnt)})"
            %td
              = number_to_currency(sums["revenue"].to_f / rcnt)


          %tr{:style => "background: #F39C12;"}
            %td
              Total / Weighted Average
            %td
              = number_with_delimiter(sums["sent"], :delimiter => ',')
            %td
              = number_with_delimiter(sums["opens"], :delimiter => ',')
              = "(#{pct(sums["opens"], sums["sent"])})"
            %td
              = number_with_delimiter(sums["clicks"], :delimiter => ',')
              = "(#{pct(sums["clicks"], sums["sent"])})"
            %td
              = number_with_delimiter(sums["actions"], :delimiter => ',')
              = "(#{pct(sums["actions"], sums["sent"])})"
            %td
              = number_with_delimiter(sums["unsubs"], :delimiter => ',')
              = "(#{pct(sums["unsubs"], sums["sent"])})"
            %td
              = number_with_delimiter(sums["unsub_complaints"], :delimiter => ',')
              = "(#{pct(sums["unsub_complaints"], sums["sent"])})"
            %td
              = number_with_delimiter(sums["unsub_bounces"], :delimiter => ',')
              = "(#{pct(sums["unsub_bounces"], sums["sent"])})"
            %td
              = number_to_currency(sums["revenue"])
              (total)


      - else
        %tr
          %td{:colspan => '9'}
            No data

/ :javascript
/   window.Page = 'mailingList';
/   window.Data = {};
/   Data.mailingListSummary = #{@summaryChartData};  
/   Data.aggregate = {
/     '-1':  #{@week_agg}[0],
/     '-2':  #{@month_agg}[0],
/     '-3':  #{@qtr_agg}[0],
/     '-4':  #{@year_agg}[0]
/   };
  
/   Data.filterParams = {
/     //'mailing': #{(@filter_params[:mailing_ids] ? "\"#{@filter_params[:mailing_ids]}\"" : 'null')},
/     'tag': #{(@filter_params[:tag_ids] ? "\"#{@filter_params[:tag_ids]}\"" : 'null')},
/     'domain': #{(@filter_params[:domain_ids] ? "\"#{@filter_params[:domain_ids]}\"" : 'null')},
/     'user_source': #{(@filter_params[:user_source_ids] ? "\"#{@filter_params[:user_source_ids]}\"" : 'null')}
/   }

