- end_date = @filter_params[:mailing_end_dt] != nil ? DateTime.parse(@filter_params[:mailing_end_dt]) : DateTime.now
- start_date = @filter_params[:mailing_start_dt] != nil ? DateTime.parse(@filter_params[:mailing_start_dt]) : end_date - 14

%h4{:style => "padding-left:15px;"}
  - divider = false
  Mailing(s)
  / mailing id
  - if !@filter_params[:mailing_ids].blank?
    Ids:
    = @filter_params[:mailing_ids]
    - divider = true

  / tags
  - if !@filter_params[:tag_ids].blank?
    - if !divider
      - divider = true
    - else
      %span{:style => 'color: #517d94;'}
        |
    tag(s):
    = @filter_params[:tag_ids]

  / domains
  - if !@filter_params[:domain_ids].blank?
    - if !divider
      - divider = true
    - else
      %span{:style => 'color: #517d94;'}
        |
    domain(s):
    = @filter_params[:domain_ids]

  / sources
  - if !@filter_params[:user_source_ids].blank?
    - if !divider
      - divider = true
    - else
      %span{:style => 'color: #517d94;'}
        |
    source(s):
    = @filter_params[:user_source_ids]

  / divider for date
  - if divider
    %span{:style => 'color: #517d94;'}
      |

  Sent:
  = start_date.strftime("%b %e, %Y")
  to
  = end_date.strftime("%b %e, %Y")


%div.chart-wrapper.mailings
  %div.chart
    %div#SummaryEventChart
    %div#SummaryUnsubChart
    %div#SummaryTimeSeriesChart
%div.panel.panel-default
  %div.panel-heading
    = form_tag("/emails", :method => :post, :class => "navbar-form", :id => "tableFilter") do
      %div#mailingidFilter.form-group
        = label_tag(:mailing_ids, "Mailing Id(s)", :class => "")
        = search_field_tag(:mailing_ids, "#{@filter_params[:mailing_ids]}", { :placeholder => "Enter Mailing ID(s)"})
      / %div#pageIdFilter.form-group
      /   = label_tag(:page_ids, "Page ID(s)")
      /   = search_field_tag(:page_ids, "#{@filter_params['page_ids']}")
      %div#dateFilterStart.form-group
        = label_tag(:mailing_start_dt, "Mailing Send Date", :class => "")
        = date_field_tag(:mailing_start_dt, "#{@filter_params[:mailing_start_dt]}", class: "start_dt")
      %div#dateFilterEnd.form-group
        = label_tag(:mailing_end_dt, "", :class => "")
        = date_field_tag(:mailing_end_dt, "#{@filter_params[:mailing_end_dt]}", class: "end_dt")
      %div#tagFilter.form-group
        = label_tag(:tag_ids, "Tag(s)", :class => "")
        = search_field_tag("tag_ids", "#{@filter_params[:tag_ids]}", { :placeholder => "Enter Tag ID(s)"})
      = submit_tag("Search", class: "btn btn-primary")
      = button_tag("Reset", class: "btn btn-warning", id: "reset")
      = link_to "Adv. Filter", "#", :id => "hider", :class => "show_hide", :style => "vertical-align: bottom;"
      %div.clearfix

      =# advanced filters
      %div.slidingDiv{}
        %div#domainFilter
          = label_tag(:domain_ids, "Domain", :class => "")
          = search_field_tag(:domain_ids, "#{@filter_params[:domain_ids]}", { :placeholder => "Enter Domain ID(s)"})
        %div#sourceFilter
          = label_tag(:user_source_ids, "User Source", :class => "")
          = search_field_tag("user_source_ids", "#{@filter_params[:user_source_ids]}", { :placeholder => "Enter User Source ID(s)"})
          %span.disclaimer
            * Note: Adding domain/user source returns a subset<br /> of data limited by domain(s) and/or user source(s)

  = render partial: "list_table", locals: { show_subject: nil, overview: true}

:javascript
  window.Page = 'mailingList';
  window.Data = {};
  Data.mailingListSummary = #{@summaryChartData};  
  Data.aggregate = {
    '-1':  #{@week_agg}[0],
    '-2':  #{@month_agg}[0],
    '-3':  #{@qtr_agg}[0],
    '-4':  #{@year_agg}[0]
  };
  
  Data.filterParams = {
    //'mailing': #{(@filter_params[:mailing_ids] ? "\"#{@filter_params[:mailing_ids]}\"" : 'null')},
    'tag': #{(@filter_params[:tag_ids] ? "\"#{@filter_params[:tag_ids]}\"" : 'null')},
    'domain': #{(@filter_params[:domain_ids] ? "\"#{@filter_params[:domain_ids]}\"" : 'null')},
    'user_source': #{(@filter_params[:user_source_ids] ? "\"#{@filter_params[:user_source_ids]}\"" : 'null')}
  }

= javascript_include_tag "dimple"
= javascript_include_tag "mailings"