= render partial: "detail_tabs", locals: {show_context_label: @mailing.id}
= render partial: "mailing_summary", locals: {show_chart: true, show_label: "24 hour Interval Analysis"}

- opens = clicks = actions = unsubs = complaints  = bounces = opens_unique = 0
- periods_in_an_hour = 4
- minutes_in_period = 15
- threshold = current_client.email_action_threshold.to_f * 100.0
- success_icon_shown = failure_icon_shown = false
- threshold_met = false

- first_hour_actions = threshold_actions = minutes_at_threshold =  0

- emails_sent = @rows[0]["sent"]

- @rows.each_with_index do |r, counter|
  - first_hour_actions += r["actions"].to_i if (counter < periods_in_an_hour)
  - threshold_actions += r["actions"].to_i
  - minutes_at_threshold += minutes_in_period  
  - if (pct(threshold_actions, emails_sent).to_f >= threshold)
    - threshold_met = true
    - break

.row
  %div#MailingIntervalChart
%div.panel.panel-default
  %div.panel-heading
    %div.time-metrics
      %h3
        Results @ 1 Hour: #{first_hour_actions} (#{pct(first_hour_actions, emails_sent)}) actions

      %h3
        Threshold (#{threshold}%)
        - if threshold_met
          met at: #{ minutes_at_threshold.to_f / 60 } hour#{ (minutes_at_threshold.to_f / 60 == 1.0 ? '' : 's') }
        - else
          unmet

  %table.table
    %thead
      %tr
        %th{:width => "25px"}
        %th{:width => "150px"}
          Period
        %th
          Sent
        %th
          Opens
        %th
          Clicks
        %th
          Actions
        %th
          Unsubs
        %th
          Complaints
        %th
          Bounces

    %tbody
      - @rows.each_with_index do |r, interval_counter|

        - # TODO: Add parameter that returns period data cumulatively
        - # This would make using list_table partial easier.

        - # global calculations begin
        - actions          += r["actions"].to_i
        - action_rate       = pct(actions, r["sent"])
        - clicks           += r["clicks"].to_i
        - click_rate        = pct(clicks, r["sent"])
        - opens            += r["opens"].to_i
        - open_rate         = pct(opens, r["sent"])
        - unsubs           += r["unsubs"].to_i
        - unsub_rate        =  pct(unsubs, r["sent"])
        - complaints       += r["unsub_complaints"].to_i
        - complaint_rate    = pct(complaints, r["sent"])
        - bounces          += r["unsub_bounces"].to_i
        - bounce_rate       = pct(bounces, r["sent"])
        - # global calculations end

        %tr{:class => ((interval_counter + 1) % 4 == 0 ? 'even' : '') }
          %td
            - if (action_rate.to_f >= threshold && !success_icon_shown)
              = image_tag 'green-check.png', {:width => 10, :height => 10, :style => "float:right;"}
              - success_icon_shown = true;
            - elsif (interval_counter == 3 && action_rate.to_f < threshold && !failure_icon_shown)
              = image_tag 'red-x.png', {:width => 10, :height => 10, :style => "float:right;"}
              - failure_icon_shown = true;
          %td
            = DateTime.parse(r['period']).strftime("%b %e, %Y: %l:%M %p")
          %td
            = number_with_delimiter(r["sent"], :delimiter => ',')
          %td
            = number_with_delimiter(opens, :delimiter => ',')
            = "(#{open_rate})"
          %td
            = number_with_delimiter(clicks, :delimiter => ',')
            = "(#{click_rate})"
          %td
            = number_with_delimiter(actions, :delimiter => ',')
            = "(#{action_rate})"
          %td
            = number_with_delimiter(unsubs, :delimiter => ',')
            = "(#{unsub_rate})"
          %td
            = number_with_delimiter(complaints, :delimiter => ',')
            = "(#{complaint_rate})"
          %td
            = number_with_delimiter(bounces, :delimiter => ',')
            = "(#{bounce_rate})"

:javascript
  window.Page = 'mailingInterval';
  window.Data = {};
  Data.intervalTimeSeries = #{@tsdata};

= javascript_include_tag 'dimple'
= javascript_include_tag 'interval'