= simple_form_for [:admin, @client] do |f|
  = f.error_notification
  = display_base_errors @client

  .form-inputs

    = f.input :name
    %div.clearfix10
    = f.input :time_zone do
      = f.time_zone_select('time_zone', ActiveSupport::TimeZone.us_zones)
    %div.clearfix10
    = f.input :ak_schema_name
    %div.clearfix10
    = f.input :cc_schema_name
    %div.clearfix10
    = f.input :domain
    %div.clearfix10
    = f.input :ak_domain
    %div.clearfix10

    = f.fields_for :master_user do |uf|
      = uf.input :name
      %div.clearfix10

      = uf.input :email,:input_html => { :class => 'expanded' }
    %div.clearfix10

    = f.input :active
    %div.clearfix10
    = f.input :page_significance_threshold
    %div.clearfix10
    = f.input :email_action_threshold
    =#%div.clearfix10
    =# f.input :email_action_threshold_time
    =#%div.clearfix10
    =# f.input :default_timeframe
    =#%div.clearfix10
  .form-actions
    = f.button :submit, :class => 'btn-primary'

=# <div class="control-group boolean optional client_active"><label class="boolean optional control-label" for="client_active">
