= simple_form_for @user do |f|
  = f.error_notification
  = display_base_errors @user

  .form-inputs
    = f.input :name
    %div.clearfix10
    = f.input :email,:input_html => { :class => 'expanded' }
    %div.clearfix10
    = f.input :password
    %i{:style => "margin-left:120px;"}
      *leave blank if you do not want to update
    %div.clearfix10
    = f.input :password_confirmation
    %i
      *leave blank if you do not want to update
    %div.clearfix10
    - if current_user && current_user.admin?
      %div{:style => "margin-left: 140px;"}
        = f.input :role_ids, :collection => Role.all, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline', checked: @user.role_ids.first
      %div.clearfix10
        = f.input :active
    %div.clearfix10

  .form-actions
    = f.button :submit, :class => 'padded'
