%div#overview
  %div.row#stats
    %div.col-xs-12.col-md-8
      %p
        %strong
          Total Mailable: 
        #{ number_with_delimiter(@stats['mailable'], :delimiter => ',') } &nbsp;
        %strong
          Activity:
        Actions: #{ number_with_delimiter(@stats['actions'], :delimiter => ',') } &nbsp;
        Revenue: #{ number_to_currency(@stats['revenue']) } &nbsp;
        Subs:    #{ number_with_delimiter(@stats['subs'], :delimiter => ',') } &nbsp;
        Unsubs:  #{ number_with_delimiter(@stats['unsubs'], :delimiter => ',') } &nbsp;


  %div.row#controls
    = form_tag('/', :method => :post, :id => 'listHealth') do

      %div.col-md-6#tfBtns
        = radio_button_tag :time_frame, 'TW', @time_frame == 'TW'
        7 Days
        = radio_button_tag :time_frame, 'TM', @time_frame == 'TM'
        Last Month
        = radio_button_tag :time_frame, 'TQ', @time_frame == 'TQ'
        Last Quarter
        = radio_button_tag :time_frame, 'TY', @time_frame == 'TY'
        Last Year
        =# radio_button_tag :time_frame, 'WTD', @time_frame == 'WTD'
        =#WTD
        = radio_button_tag :time_frame, 'MTD', @time_frame == 'MTD'
        MTD
        = radio_button_tag :time_frame, 'QTD', @time_frame == 'QTD'
        QTD
        = radio_button_tag :time_frame, 'YTD', @time_frame == 'YTD'
        YTD
        = radio_button_tag :time_frame, 'ALL', @time_frame == 'ALL'
        All

      - if false
        %div.col-md-4#lists
          %select#current_list{:name => 'list_ids[]', multiple: true, :style => 'border:none; outline:none;'}
            = options_from_collection_for_select(@all_lists, :id, :name, @curr_lists)
          %i
            * Only affects mailable graph line

      %div.col-md-6#legend
        %table
          %tr
            %td.legendColorBox#Actions
              %div
                %div
            %td.legendLabel
              Actions

            %td.legendColorBox#NewMembers
              %div
                %div
            %td.legendLabel
              New Members

            %td.legendColorBox#Unsubs
              %div
                %div
            %td.legendLabel
              Unsubs

            %td.legendColorBox#Mailable
              %div
                %div
            %td.legendLabel
              Mailable

  %div#overviewChart

%div.clearfix10

%div.row
  %div.col-md-6
    = render "mailing_list_table"
  %div.col-md-6
    = render "page_list_table"

:javascript
  var pagePageType = 'overview';
  var overviewData = #{@overview_data};

= javascript_include_tag "flot"
= javascript_include_tag "overview"

