.row
  %div.chart-header-custom
    %div.summary
      %p
        %strong
          Title: 
        = @page.title
      %p
        %strong
          Type:
        #{@page.type}
        %strong
          Created:
        #{@page.created_at.to_date}
        - if @page.tags.size > 0
          %strong
            Tags: 
          #{@page.tags.collect{|t| t.name}.join(', ') }

  %div.col-md-8
