.container-fluid
  .row-fluid
    %ul.nav.nav-tabs
      %li{:class => "context_info", :style => "width: 359px"}
        - if local_assigns[:show_context_label]
          = "Page Id: #{show_context_label}"
      %li{:class => is_active?("detail")}
        = link_to "Detail", { controller: 'pages', action: 'detail' }
      %li{:class => is_active?("action_sources")}
        = link_to "Action Sources", { controller: 'pages', action: 'action_sources' }
      %li{:class => is_active?("user_sources")}
        = link_to "User Sources", { controller: 'pages', action: 'user_sources' }

:javascript
  var pageId = "#{params[:page_id]}";
