= render partial: "tabs",  locals: {show_context_label: @page.id}
= render partial: "page_details", locals: {show_chart: true}

- #global calculations begin
- total_actions = total_members = total_subscribers = total_revenue = 0
- @rows.each do |r|
  - total_actions += r["actions"].to_i
  - total_members += r["new_members"].to_i
  - total_subscribers += r['new_subscribers'].to_i
  - if @page.type == 'Donation'
    - total_revenue += r['revenue'].to_f
- #global calculations end

%div.row
  %div#PageDetailEventChart

%table.table
  %thead
    %tr
      %th
        ID
      %th
        Source
      %th
        Actions
      %th
        New Members
      %th
        Re-Subscribers
      - if @page.type == 'Donation'
        %th
          Revenue

  %tbody
    %tr{:style => "background: #F39C12;"}
      %td
      %td <b>Total</b>
      %td
        %b
          = number_with_delimiter(total_actions, :delimiter => ',')
      %td
        %b
          = number_with_delimiter(total_members, :delimiter => ',')
      %td
        %b
          = number_with_delimiter(total_subscribers, :delimiter => ',')
      - if @page.type == 'Donation'
        %td
          %b
            = number_to_currency(total_revenue)

    - counter = 0
    - @rows.each do |r|
      - zebra = (counter % 2 == 0 ? ' even' : ' odd')
      - counter += 1
      %tr{:class => "#{zebra}"}
        %td
          = r['source_id']
        %td.left
          = r['source']
        %td
          = r['actions']
          = "(#{pct(r["actions"], total_actions)})"
        %td{:class => ('negative' if r["members"].to_i < 0) }
          = r['new_members']
          = "(#{pct(r["new_members"], total_members)})"
        %td
          = r['new_subscribers']
          = "(#{pct(r["new_subscribers"], total_subscribers)})"
        - if @page.type == 'Donation'
          %td
            = number_to_currency(r['revenue'])

-# associated actionfields
- @supersize = false
.row
- @fields.each do |key, value|
  - if value > 10000
    - @supersize = true
  - else
    - @supersize = false

  - if (!key.include? "sharetrack") && !(key == "id")
    %div{:class => @supersize ? 'col-lg-4 text.center' : 'col-lg-3 text-center'}
      .panel.panel-success
        .panel-heading
          .row
            .col-xs-6
              - if key == "comment"
                %i.fa.fa-comments.fa-5x
              - elsif key.include? "sign"
                %i.fa.fa-list.fa-5x
              - else
                %i.fa.fa-check-square-o.fa-5x
            .col-xs-6.text-right
              %p.announcement-heading
                = number_with_delimiter(value, :delimiter => ',')
              %p.announcement-text
                - if key == "comment"
                  = key + "s"
                - else
                  = key

= javascript_include_tag 'dimple'
= javascript_include_tag 'pages'

:javascript
  window.Page = 'pageActionSource';
  Data = {};
  Data.pageSource = #{@chartData};
  var akPageType = '#{@page.type}'

