- #global calculations begin
- total_actions = total_members = total_subscribers = total_revenue = 0
- @rows.each do |r|
  - total_actions += r["actions"].to_i
  - total_members += r["members"].to_i
  - total_subscribers += r['new_subscribers'].to_i
  - if @page.type == 'Donation'
    - total_revenue += r['revenue'].to_f
- #global calculations end

= render partial: "tabs",  locals: {show_context_label: @page.id}
= render partial: "page_details", locals: {show_chart: true}

.clearfix10

-# progress bar
-# TODO: change to green if goal reached
- if @page.goal.present? && @page.goal != 0 && total_actions > 0
  .col-md-12
    .col-lg-12
      .progress.progress-striped{:style => "margin-bottom: 3px;"}
        - if total_actions >= @page.goal
          .progress-bar.progress-bar-success{:style =>  "width: #{(total_actions.to_f/@page.goal.to_f)*100}%"}
        - else
          .progress-bar.progress-bar-danger{:style =>  "width: #{(total_actions.to_f/@page.goal.to_f)*100}%"}
      %em
        #{number_with_delimiter(total_actions,:delimiter => ',')} actions taken out of goal: #{number_with_delimiter(@page.goal,:delimiter => ',')}

.clearfix10





%div.row
  %div#PageDetailEventChart

%div.panel.panel-default
  %div.panel-heading
    = form_tag("/page/#{@page.id}/detail", :method => :get, :class => "navbar-form", :id => "tableFilter") do
      %div#dateFilterStart.form-group
        = label_tag(:activity_start_dt, "Activity Date", :class => "")
        = date_field_tag(:activity_start_dt, "#{@filter_params[:activity_start_dt]}", class: "start_dt")
      %div#dateFilterEnd.form-group
        = label_tag(:activity_end_dt, "", :class => "")
        To 
        =date_field_tag(:activity_end_dt, "#{@filter_params[:activity_end_dt]}", class: "end_dt")

      = submit_tag("Search", class: "btn btn-primary")
      = button_tag("Reset", class: "btn btn-warning", id: "reset")


%table.table
  %thead
    %tr
      %th
        Date
      %th
        Actions
      %th
        New Members
      %th
        Re-Subscribers
      - if @page.type == 'Donation'
        %th
          Revenue
      %th

  %tbody
    %tr{:style => "background: #F39C12;"}
      %td <b>Total</b>
      %td
        %b
          = number_with_delimiter(total_actions, :delimiter => ',')
      %td
        %b
          = number_with_delimiter(total_members, :delimiter => ',')
      %td
        %b
          = number_with_delimiter(total_subscribers, :delimiter => ',')
      - if @page.type == 'Donation'
        %td
          %b
            = number_to_currency(total_revenue)
      %td

    - counter = 0
    - @rows.each do |r|
      - zebra = (counter % 2 == 0 ? ' even' : ' odd')
      - counter += 1

      %tr{:class => "#{zebra}"}
        %td
          = r['period'].to_time.strftime("%b %e, %Y: %l:%M %p")
        %td
          = number_with_delimiter(r['actions'], :delimiter => ',')
          = "(#{pct(r["actions"], total_actions)})"
        %td{:class => ('negative' if r["members"].to_i < 0) }
          = number_with_delimiter(r['members'], :delimiter => ',')
          = "(#{pct(r["members"], total_members)})"
        %td
          = number_with_delimiter(r['new_subscribers'], :delimiter => ',')
          = "(#{pct(r["new_subscribers"], total_subscribers)})"
        - if @page.type == 'Donation'
          %td
            = number_to_currency(r['revenue'])
        %td

= javascript_include_tag 'dimple'
= javascript_include_tag 'pages'

:javascript
  var akPageType = '#{@page.type}'
  window.Page = 'pageDetail';
  Data = {};
  Data.pageDetail = #{@chartData};


