%h2 Sign in
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
  .form-inputs
    = f.input :email, :autofocus => true
    %div.clearfix10
    = f.input :password
    %div.clearfix10
    = f.input :remember_me, :class => 'boolean-flush', :as => :boolean if devise_mapping.rememberable?
    %div.clearfix10
    = f.button :submit, "Sign in", :class => 'btn-primary'
    %div.clearfix10
= render "devise/shared/links"
