%p
  Hello! We are super excited to announce the launch of our beta release of Dashboard and we want to invite you to be an
  early beta user! As with all beta's, we are still working out some kinks and oddities, so if you see something awry,
  please let us know by emailing us at dash@engagementlab.org. Note, we are sync'ing AK data approximately every 15 minutes,
  so you may see some delays in the numbers from AK. We'll be working on increasing this frequency. We'd also love any and all feedback on this early preview, so
  feel free to send us your thoughts, suggestions, and comments. Ultimately, we want this tool to be a useful
  part of your daily campaign workflow and help to surface your data in an easy, understandable, accurate, and clear way.

%p
  To access the Dashboard, you'll need to confirm your
  = @email
  account by clicking the link below.
%p
  = link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)

%p
  Thank you for all the feedback you've provided so far to help us build the dashboard! Happy charting and data gazing.

%p
  From,
%p
  Your CEL Tech Team

%img(src="http://s3.amazonaws.com/s3.engagementlab.org/logos/CEL-square-200.png")
