%p
  Hello
  = @resource.email
  !
%p
  You have requested a link to change your password for CEL's Dashboard. You can do this through the link below.

%p
  = link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)

%p
  If you didn't request this, please ignore this email.

%p
  Your password won't change until you access the link above and create a new one.
