- if user_signed_in?
  %li 
    = link_to 'Mailings', '/emails'
  %li
    = link_to 'Users', users_path
  %li
    = link_to current_user.name, edit_user_path(current_user)
  %li
    = link_to 'Logout', destroy_user_session_path, :method=>'delete'

- else
  %li
    = link_to 'Login', new_user_session_path
