%nav.navbar.navbar-default{role: "navigation"}
  %div.container-fluid

    - if user_signed_in?

      %div.navbar-header
        %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#bs-example-navbar-collapse-1"} }
          %span.sr-only
            Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand
          = image_tag 'CEL-blue-transparent.png', {:width => 100, :height => 20}

      %div.collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav

          %li{:class => (current_page?('/') ? "active" : nil)}
            %a{:href => "/" }
              Overview

          %li{:class => (controller_name == 'mailings' ? "active" : nil)}
            %a{:href => "/emails"}
              Mailings

          %li{:class => (controller_name == 'pages' ? "active" : nil)}
            %a{:href => "/pages"}
              Pages

          %li.dropdown
            %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"} }
              Settings
              %span.caret

            %ul.dropdown-menu{role: "menu"}
              %li
                = link_to 'Account', edit_user_path(current_user)
              - if current_user && current_user.admin?
                %li
                  = link_to 'Users', users_path
              - if current_user && current_user.super_admin?
                %li
                  = link_to 'Clients', admin_clients_path
              %li{:class => "last"}
                = link_to 'Logout', destroy_user_session_path, :method=>'delete'

        %ul.nav.navbar-nav.navbar-right
          - if current_client
            %li#lastSync
              %a
                = last_sync()

        - if current_user && current_user.super_admin? && Client.count > 1
          = form_tag('/admin/set_current_client', method: :post, id: 'select_client', class: 'navbar-form navbar-right', role: 'search') do
            %div.form-group
              %label{:style => "text-decoration: none; font-size: 13px; font-weight: 700; color: #fff; text-transform: uppercase; letter-spacing: 1px;"}
                CLIENT:
              %select#current_client{:name => 'client_id'}
                = options_from_collection_for_select(@available_clients, :id, :name, current_client.id)

    - else
      %div.collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav
          %li.active
            = link_to 'Login', new_user_session_path
